<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.zmap.his.clinic.model"/>
        <package name="com.zmap.his.hospitalize.model"/>
        <package name="com.zmap.his.basedata.model"/>
    </typeAliases>
    <mappers>   
		<mapper resource="com/zmap/his/clinic/mapper/HisClinicCM1SyncMapper.xml"/> 
		<mapper resource="com/zmap/his/clinic/mapper/HisClinicCM2ChargeSyncMapper.xml"/> 
		<mapper resource="com/zmap/his/clinic/mapper/JbTransClinicSyncMapper.xml"/> 
		<mapper resource="com/zmap/his/clinic/mapper/JbPrepayChargeSyncMapper.xml"/> 
		<mapper resource="com/zmap/his/clinic/mapper/HisClinicCM2MOrderSyncMapper.xml"/> 
		<mapper resource="com/zmap/his/hospitalize/mapper/HisHospitalizeHM1HospitalizeSyncMapper.xml"/> 
		<mapper resource="com/zmap/his/hospitalize/mapper/HisHospitalizeHM2ChargeSyncMapper.xml"/> 
		<mapper resource="com/zmap/his/basedata/mapper/RDoctorMapper.xml"/> 
		<mapper resource="com/zmap/his/basedata/mapper/RPatientMapper.xml"/> 
		<mapper resource="com/zmap/his/basedata/mapper/LAcctItemMapper.xml"/> 
		<mapper resource="com/zmap/his/basedata/mapper/LExamineMapper.xml"/> 
		<mapper resource="com/zmap/his/basedata/mapper/LFeeItemMapper.xml"/> 
		<mapper resource="com/zmap/his/basedata/mapper/LOperationMapper.xml"/> 
    </mappers>
</configuration>
