<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmap.his.clinic.mapper.HisClinicCM2ChargeSyncMapper">
	<resultMap id="baseMap" type="com.zmap.his.clinic.model.HisClinicCM2ChargeSyncModel">
		<result column="charge_code" jdbcType="VARCHAR" property="chargeCode" />
		<result column="reg_code" jdbcType="VARCHAR" property="regCode" />
		<result column="patient_code" jdbcType="VARCHAR" property="patientCode" />
		<result column="charge_time" jdbcType="VARCHAR" property="chargeTime" />
		<result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
		<result column="zmap_dept_code" jdbcType="VARCHAR" property="zmapDeptCode" />
		<result column="doctor_code" jdbcType="VARCHAR" property="doctorCode" />
		<result column="fee_class_code" jdbcType="VARCHAR" property="feeClassCode" />
		<result column="fee_type_code" jdbcType="VARCHAR" property="feeTypeCode" />
		<result column="fee_item_code" jdbcType="VARCHAR" property="feeItemCode" />
		<result column="zmap_fee_item_code" jdbcType="VARCHAR" property="zmapFeeItemCode" />
		<result column="fee_source_code" jdbcType="VARCHAR" property="feeSourceCode" />
		<result column="settle_type_code" jdbcType="VARCHAR" property="settleTypeCode" />
		<result column="amount" jdbcType="DECIMAL" property="amount" />
		<result column="num" jdbcType="DECIMAL" property="num" />
		<result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
		<result column="size" jdbcType="VARCHAR" property="size" />
		<result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
		<result column="discount_rate" jdbcType="VARCHAR" property="discountRate" />
		<result column="iccard_code" jdbcType="VARCHAR" property="iccardCode" />
		<result column="sub_hospital_code" jdbcType="VARCHAR" property="subHospitalCode" />
		<result column="hospital_code" jdbcType="VARCHAR" property="hospitalCode" />
		<result column="settle_acct_code" jdbcType="VARCHAR" property="settleAcctCode" />
		<result column="is_insure_settle" jdbcType="VARCHAR" property="isInsureSettle" />
		<result column="acct_item_code" jdbcType="VARCHAR" property="acctItemCode" />
		<result column="rec_status" jdbcType="VARCHAR" property="recStatus" />
		<result column="rec_type" jdbcType="VARCHAR" property="recType" />
		<result column="morder_code" jdbcType="VARCHAR" property="morderCode" />
	</resultMap>
	<select id="selectTop1"  resultMap="baseMap">
		<![CDATA[
		select * from (
		  select t.*,rownum rn from
		  (
		    select 
				a.id as charge_code,
				b.id as reg_code,
				a.病人id as patient_code,
				a.登记时间 as charge_time,
				a.开单部门id as dept_code,
				'' as zmap_dept_code,
				case when (d.id is null) then '999' else to_char(d.id) end as doctor_code,
				--a.执行人 as doctor_code,
				case when a.收费类别 in ('5','6','7') then -1 else 1 end fee_class_code,
				a.收费类别 as fee_type_code,
				a.收费细目id as fee_item_code,
				'' as zmap_fee_item_code,
				'' as fee_source_code,
				a.付款方式 as settle_type_code,
				a.结帐金额 as amount,
				a.数次 as num,
				a.标准单价 as unit_price,
				a.计算单位 as "size",
				'0' as discount_amount,
				'0' as discount_rate,
				a.标识号 as iccard_code,
				'' as sub_hospital_code,
				'2' as hospital_code,
				a.结帐id as settle_acct_code,
				case when  not exists(select 1 from 保险结算记录 c where c.记录id= a.结帐id) then '0' else '1' end as is_insure_settle,
				a.收入项目id as acct_item_code,
				a.记录状态 as rec_status,
				a.记录性质 as rec_type,
				a.医嘱序号 as morder_code
			from 门诊费用记录 a
			left join 病人挂号记录 b on b.no = a.no and b.病人id = a.病人id and a.记录状态 = b.记录状态
			left join 人员表 d on a.开单人 = d.姓名
		   ) t where rownum <=1
		 ) where rn>=1
		 ]]>
	</select>
	<select id="selectTop50"  resultMap="baseMap">
		<![CDATA[
		select * from (
		  select t.*,rownum rn from
		  (
		    select 
				a.id as charge_code,
				b.id as reg_code,
				a.病人id as patient_code,
				a.登记时间 as charge_time,
				a.开单部门id as dept_code,
				'' as zmap_dept_code,
				case when (d.id is null) then '999' else to_char(d.id) end as doctor_code,
				--a.执行人 as doctor_code,
				case when a.收费类别 in ('5','6','7') then -1 else 1 end fee_class_code,
				a.收费类别 as fee_type_code,
				a.收费细目id as fee_item_code,
				'' as zmap_fee_item_code,
				'' as fee_source_code,
				a.付款方式 as settle_type_code,
				a.结帐金额 as amount,
				a.数次 as num,
				a.标准单价 as unit_price,
				a.计算单位 as "size",
				'0' as discount_amount,
				'0' as discount_rate,
				a.标识号 as iccard_code,
				'' as sub_hospital_code,
				'2' as hospital_code,
				a.结帐id as settle_acct_code,
				case when  not exists(select 1 from 保险结算记录 c where c.记录id= a.结帐id) then '0' else '1' end as is_insure_settle,
				a.收入项目id as acct_item_code,
				a.记录状态 as rec_status,
				a.记录性质 as rec_type,
				a.医嘱序号 as morder_code
			from 门诊费用记录 a
			left join 病人挂号记录 b on b.no = a.no and b.病人id = a.病人id and a.记录状态 = b.记录状态
			left join 人员表 d on a.开单人 = d.姓名
		   ) t where rownum <=50
		 ) where rn>=1
		 ]]>
	</select>
	<select id="selectCharge"  resultMap="baseMap">
		<![CDATA[
		    select 
				a.id as charge_code,
				b.id as reg_code,
				a.病人id as patient_code,
				a.登记时间 as charge_time,
				a.开单部门id as dept_code,
				'' as zmap_dept_code,
				case when (d.id is null) then '999' else to_char(d.id) end as doctor_code,
				--a.执行人 as doctor_code,
				case when a.收费类别 in ('5','6','7') then -1 else 1 end fee_class_code,
				a.收费类别 as fee_type_code,
				a.收费细目id as fee_item_code,
				'' as zmap_fee_item_code,
				'' as fee_source_code,
				a.付款方式 as settle_type_code,
				a.结帐金额 as amount,
				a.数次 as num,
				a.标准单价 as unit_price,
				a.计算单位 as "size",
				'0' as discount_amount,
				'0' as discount_rate,
				a.标识号 as iccard_code,
				'' as sub_hospital_code,
				'2' as hospital_code,
				a.结帐id as settle_acct_code,
				case when  not exists(select 1 from 保险结算记录 c where c.记录id= a.结帐id) then '0' else '1' end as is_insure_settle,
				a.收入项目id as acct_item_code,
				a.记录状态 as rec_status,
				a.记录性质 as rec_type,
				a.医嘱序号 as morder_code
			from 门诊费用记录 a
			left join 病人挂号记录 b on b.no = a.no and b.病人id = a.病人id and a.记录状态 = b.记录状态
			left join 人员表 d on a.开单人 = d.姓名
		]]>
	</select>
	<!-- 多个参数的形式，需要使用map来存储-->
    <select id="selectByPagination" parameterType="map" resultMap="baseMap">
        <!-- 只要是#{}这种形式的，都会以？形式替代，对应字符串形式，都会加上引号-->
        <!-- 只要是${}这种形式的，不会用？形式替代，传过来什么，就什么替代-->
        <!-- curPageRow = pagesize*pagenum, prePageRow = pagesize*(pagenum-1)-->
        <![CDATA[
        select * from (
		  select t.*,rownum rn from
		  (
		    select 
				a.id as charge_code,
				b.id as reg_code,
				a.病人id as patient_code,
				a.登记时间 as charge_time,
				a.开单部门id as dept_code,
				'' as zmap_dept_code,
				case when (d.id is null) then '999' else to_char(d.id) end as doctor_code,
				--a.执行人 as doctor_code,
				case when a.收费类别 in ('5','6','7') then -1 else 1 end fee_class_code,
				a.收费类别 as fee_type_code,
				a.收费细目id as fee_item_code,
				'' as zmap_fee_item_code,
				'' as fee_source_code,
				a.付款方式 as settle_type_code,
				a.结帐金额 as amount,
				a.数次 as num,
				a.标准单价 as unit_price,
				a.计算单位 as "size",
				'0' as discount_amount,
				'0' as discount_rate,
				a.标识号 as iccard_code,
				'' as sub_hospital_code,
				'2' as hospital_code,
				a.结帐id as settle_acct_code,
				case when  not exists(select 1 from 保险结算记录 c where c.记录id= a.结帐id) then '0' else '1' end as is_insure_settle,
				a.收入项目id as acct_item_code,
				a.记录状态 as rec_status,
				a.记录性质 as rec_type,
				a.医嘱序号 as morder_code
			from 门诊费用记录 a
			left join 病人挂号记录 b on b.no = a.no and b.病人id = a.病人id and a.记录状态 = b.记录状态
			left join 人员表 d on a.开单人 = d.姓名
		   ) t where rownum <= ${curPageRow}
		 ) where rn > ${prePageRow}
		 ]]>
    </select>
    <select id="selectByPaginationWithDateTime" parameterType="map" resultMap="baseMap">
        <!-- 只要是#{}这种形式的，都会以？形式替代，对应字符串形式，都会加上引号-->
        <!-- 只要是${}这种形式的，不会用？形式替代，传过来什么，就什么替代-->
        <!-- curPageRow = pagesize*pagenum, prePageRow = pagesize*(pagenum-1)-->
        	<![CDATA[
        	select * from (
			  select t.*,rownum rn from
			  (
			    select 
					a.id as charge_code,
					b.id as reg_code,
					a.病人id as patient_code,
					a.登记时间 as charge_time,
					a.开单部门id as dept_code,
					'' as zmap_dept_code,
					case when (d.id is null) then '999' else to_char(d.id) end as doctor_code,
					--a.执行人 as doctor_code,
					case when a.收费类别 in ('5','6','7') then -1 else 1 end fee_class_code,
					a.收费类别 as fee_type_code,
					a.收费细目id as fee_item_code,
					'' as zmap_fee_item_code,
					'' as fee_source_code,
					a.付款方式 as settle_type_code,
					a.结帐金额 as amount,
					a.数次 as num,
					a.标准单价 as unit_price,
					a.计算单位 as "size",
					'0' as discount_amount,
					'0' as discount_rate,
					a.标识号 as iccard_code,
					'' as sub_hospital_code,
					'2' as hospital_code,
					a.结帐id as settle_acct_code,
					case when  not exists(select 1 from 保险结算记录 c where c.记录id= a.结帐id) then '0' else '1' end as is_insure_settle,
					a.收入项目id as acct_item_code,
					a.记录状态 as rec_status,
					a.记录性质 as rec_type,
					a.医嘱序号 as morder_code
				from 门诊费用记录 a
				left join 病人挂号记录 b on b.no = a.no and b.病人id = a.病人id and a.记录状态 = b.记录状态
				left join 人员表 d on a.开单人 = d.姓名
			    where to_char(a.登记时间,'yyyy-MM-dd') = #{curDate}
			   ) t where rownum <= ${curPageRow}
			 ) where rn > ${prePageRow}
			 ]]>
    </select>
    <select id="countNum" resultType="int">
        <![CDATA[
        select count(*) from 门诊费用记录
        ]]>
    </select>
    <select id="countNumWithDate" parameterType="String" resultType="int">
    	<![CDATA[
        select count(*) from 门诊费用记录  where to_char(登记时间,'yyyy-MM-dd') = #{curDate}
        ]]>
    </select>
</mapper>